<div>
  <div>
    <div *ngIf="registerForm" class="text-center">
      <button (click)="registerToggle()">Register</button>
      <button >Learn more</button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancalRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
