<form [formGroup]="registerForm" (ngSubmit)=register()>
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <!-- gender -->
  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="female" formControlName="gender">Female
    </label>
  </div>

  <!-- email -->
  <div class="form-group">
    <input type="text"
    [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
    class="form-control is-invalid" required formControlName="email" placeholder="Username">

    <div class="invalid-feedback"
    *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
    Please choose a username
    </div>
    <div class="invalid-feedback"
    *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">
    Email format
    </div>
  </div>

  <!-- Country -->

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}" class="form-control"
      placeholder="Country" formControlName="country">
    <div class="invalid-feedback" *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">Country is required</div>
  </div>

  <!-- Country -->

  <div class="form-group">
    <input type="number" [ngClass]="{'is-invalid': registerForm.get('age').errors && registerForm.get('age').touched}" class="form-control"
      placeholder="Age" formControlName="age">
    <div class="invalid-feedback" *ngIf="registerForm.get('age').touched && registerForm.get('age').hasError('required')">Country is required</div>
  </div>

  <!-- password -->
  <div class="form-group">
    <input type="password"
    [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
    class="form-control is-invalid" required formControlName="password" placeholder="Password">

    <div class="invalid-feedback"
    *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched"
    >minlength is 4
    </div>

    <div class="invalid-feedback"
    *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched"
    >Password requied
    </div>

    <div class="invalid-feedback"
    *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched"
    >maxlength is 10
    </div>

  </div>

  <!-- confirmpassword -->
  <div class="form-group">
    <input type="password"
    [ngClass]="{'is-invalid':   registerForm.get('confirmPassword').errors
                            &&  registerForm.get('confirmPassword').touched
                            ||  registerForm.get('confirmPassword').touched
                            &&  registerForm.hasError('mismatch')}"
    class="form-control is-invalid" formControlName="confirmPassword"
    placeholder="Confirm Password">

    <div class="invalid-feedback"
    *ngIf="registerForm.get('confirmPassword').hasError('required')
        && registerForm.get('confirmPassword').touched">
    Confirm Password requied
    </div>

    <div class="invalid-feedback"
    *ngIf="registerForm.hasError('mismatch')
        && registerForm.get('confirmPassword').touched">
    Mismatch
    </div>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancle()">Cancel</button>
  </div>
</form>
<p>RegisterForm.value: {{registerForm.value | json}} </p>
<p>RegisterForm.valid: {{registerForm.valid | json}} </p>
<p>RegisterForm.status: {{registerForm.status | json}} </p>
